ul 
    li 
        a(href="/") Home
    li 
        a(href="/search") Search
    if loggedIn
        li
            a(href=`/user/${loggedInuser._id}/edit`) Edit-Profile
        li 
            a(href=`/video/upload`) Upload Video
        li 
            a(href="/user/logout") Logout
        li 
            if loggedInuser.avatarUrl !== ""
                a(href=`/user/${loggedInuser._id}`) 
                    img(src="/"+`${loggedInuser.avatarUrl}` width=50,height=50)   
            else
                a(href=`/user/${loggedInuser._id}`) #{loggedInuser.name}의 프로필
    else
        li
            a(href="/join") join
        li
            a(href="/login") login